Repository rdragon7/you-gong: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint, yarn stylelint

feat(product): 项目初步搭建
  .stylelintrc.cjs
  package.json
  src/App.tsx
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Header/style.module.less
  src/main.tsx
  src/pages/dynamic/index.tsx
  src/pages/home/index.tsx
  src/pages/layout/index.tsx
  src/pages/layout/style.module.less
  src/pages/product/index.tsx
  src/router/index.tsx
  src/style/index.css
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn eslint, yarn stylelint

✨ feat(home): 编写头部组件以及首页
  .eslintrc.cjs
  index.html
  package.json
  src/assets/images/common/logo.png
  src/assets/images/home/info1.png
  src/assets/images/home/info2.png
  src/assets/images/home/info3.jpg
  src/assets/images/home/info4.png
  src/assets/images/home/info5.png
  src/assets/images/home/info6.png
  src/assets/images/home/info7.png
  src/assets/images/home/lunbo1.png
  src/assets/images/home/lunbo2.jpg
  src/assets/images/home/lunbo3.jpg
  src/assets/images/home/lunbo4.jpg
  src/components/Card/index.tsx
  src/components/Card/style.module.less
  src/components/Header/index.tsx
  src/components/Header/style.module.less
  src/components/Model/index.tsx
  src/components/Model/style.module.less
  src/main.tsx
  src/pages/home/cpns/Carousel/index.tsx
  src/pages/home/cpns/Carousel/style.module.less
  src/pages/home/index.tsx
  src/pages/home/style.module.less
  src/style/globalClass.css
  src/style/index.css
  src/style/reset.css
  src/style/theme.css
  vite.config.ts
  yarn.lock
Due: yarn eslint, yarn stylelint

🌈 style(style): 修改样式
  src/pages/product/index.tsx
  src/pages/product/style.module.less
  src/pages/solution/index.tsx
  src/router/index.tsx
  src/style/reset.css
Due: yarn eslint, yarn stylelint

🌈 style(产品溯源): 产品溯源页面样式修改
  src/assets/images/common/code.png
  src/assets/images/product/product33.png
  src/assets/images/product/product34.png
  src/assets/images/product/product35.png
  src/assets/images/product/product36.png
  src/assets/images/product/product37.png
  src/assets/images/product/product38.png
  src/components/Slider/index.tsx
  src/components/Slider/style.module.less
  src/pages/home/cpns/InfoFive/style.module.less
  src/pages/home/cpns/InfoFour/style.module.less
  src/pages/home/cpns/InfoOne/style.module.less
  src/pages/home/cpns/InfoSix/style.module.less
  src/pages/layout/index.tsx
  src/pages/product/cpns/InfoOne/index.tsx
  src/pages/product/cpns/InfoOne/style.module.less
  src/pages/product/cpns/InfoTwo/index.tsx
  src/pages/product/cpns/InfoTwo/style.module.less
  src/style/index.css
Due: yarn eslint, yarn stylelint

🐞 fix(home): 修复背景图显示问题
  src/components/LittleCard/index.tsx
  src/components/Slider/index.tsx
  src/pages/home/cpns/InfoThree/style.module.less
Due: yarn eslint, yarn stylelint

🌈 style(header): 修改header样式
  src/components/Carousel/index.tsx
  src/components/Header/index.tsx
  src/components/Header/style.module.less
  src/pages/product/style.module.less
  src/style/reset.css
Due: yarn eslint, yarn stylelint

🎈 perf(build): 添加打包体积分析插件
  package.json
  stats.html
  vite.config.ts
  yarn.lock
Due: none

🌈 style(style): 修改细节样式
  src/components/Header/index.tsx
  src/pages/notFound/style.module.less
  src/style/reset.css
Due: yarn eslint, yarn stylelint

🌈 style(staff,intro): 修改样式
  src/pages/companyIntro/index.tsx
  src/pages/companyIntro/style.module.less
  src/pages/staff/index.tsx
  src/pages/staff/style.module.less
Due: yarn eslint, yarn stylelint

🌈 style(logo): 修改网站logo
  index.html
  logo.png
Due: none

🌈 style(header): 修改样式
  src/components/Header/index.tsx
Due: yarn eslint

🌈 style(product): 修改索引
  src/pages/product/cpns/InfoThree/index.tsx
  stats.html
Due: yarn eslint

✨ feat(drower): 新增移动端弹出框二级菜单
  src/components/Header/index.tsx
  src/style/reset.css
  stats.html
Due: yarn eslint, yarn stylelint

Path conditions:
  yarn eslint: any of: src/**/*.{js,ts,jsx,tsx}
  yarn stylelint: any of: src/**/*.{css,less,scss}
